/**
 * CSS styles for the page CRM_Fpptaqb_Page_StepthruInvSync.
 */

.crm-container a.button.fpptaqb-sync-button {
  display: none;
}
.crm-container a.button.fpptaqb-sync-button#fpptaqb-button-begin,
.crm-container a.button.fpptaqb-sync-button#fpptaqb-button-list,
.crm-container a.button.fpptaqb-sync-button#fpptaqb-button-exit {
  display: inline-block;
}

.crm-container div#fpptaqb-sync-log-loading-wrapper {
  visibility: hidden;
}

.crm-container div#fpptaqb-sync-log-loading-wrapper {
  visibility: hidden;
}

.crm-container div.fpptaqb-statistics {
  float: left;
  padding: 1em;
  background: #ffffcc;
  border-radius: 0.5em;
  margin: 0.5em 0.5em 0.5em 0;
}

.crm-container span#fpptaqb-review-held {
  padding-left: 2em;
}
