/**
 * CSS styles for the page CRM_Fpptaqb_Page_StepthruInvSync.
 */

.crm-container a.button.fpptaqb-sync-button {
  display: none;
}
.crm-container a.button.fpptaqb-sync-button#fpptaqb-button-begin {
  display: block;
}

.crm-container div#fpptaqb-sync-log-loading-wrapper {
  visibility: hidden;
}

.crm-container div#fpptaqb-sync-log-loading-wrapper {
  visibility: hidden;
}